.u-section-1 .u-sheet-1 {
  min-height: 251px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 99px 40px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    height: 39px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 204px;
}